h1 {
    font-family: fairwater-deco-serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 1px var(--textShadow);
    margin:0px;
}

h3 {
    margin: 0px;
    text-align: center;
}

body{
    background: var(--bg);
}

ul {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -20px;
}

li {
    list-style: circle;
}
  
#msg {
    font-family: sofia-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

:root {
    --orange:#f1b84d;
    --white: #ffffff;
    --black: #000000;
    --red : #c3073fb7;
}

* {
    color: var(--fontColor);
    font-family: sofia-pro;
}

.btn {
    position: absolute;
    top: 20px;
    right: 50px;
    height: 50px;
    width:50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.light-theme {
    --bg: var(--orange);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --textShadow: var(--white);
  }

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --textShadow: var(--red);
}
